<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="dao" class="chapter02.MemberDAOImpl"></bean>
   
   <bean id="service" class="chapter02.MemberServiceImpl">
      <property name="dao" ref="dao"></property> <!-- 참조자료형이기 때문에 value가 아니라 ref고, id="dao"를 참조하고 있음 -->
   </bean>
</beans>